<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Superhero</title>
</head>
<body>
  <form action="{% url 'heroes:create_new_hero' %}" method="post">
        {% csrf_token %}
        Name:<input type="text" name="name" id="name">
        Alter Ego:<input type="text" name="alter_ego" id="alter_ego">
        Primary Superhero ability:<input type="text" name="primary_superhero_ability" id="primary_superhero_ability">
        Secondary Superhero ability:<input type="text" name="secondary_superhero_ability" id="secondary_superhero_ability">
        Catchphrase:<input type="text" name="catchphrase" id="catchphrase">
        <input type="submit" value="Add new!">
  </form>
</body>
</html>