<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">    <title>Superheroes</title>
    <title>Superhero Details</title>
</head>
<body style="text-align:center">
        {% if specific_superhero %}
        <h1>{{specific_superhero.name}} Details</h1>
        <h2>{{specific_superhero.alter_ego}}</h2>
        <h2>{{specific_superhero.primary_superhero_ability}}</h2>
        <h2>{{specific_superhero.secondary_superhero_ability}}</h2>
        <h2>{{specific_superhero.catchphrase}}</h2>
        <a href="{% url 'heroes:change_hero' specific_superhero.id %}">Edit Superhero</a><br>
        <a href="{% url 'heroes:delete_hero' specific_superhero.id %}">Delete Superhero</a><br>
        <a href="{% url 'heroes:index' %}">Back to Superheroes</a><br>
        {% endif %}


</body>
</html>